<div class="container">
  <h2 class="title">レポート一覧</h2>
      <div class="row">
        <% @reports.each do |report| %>
          <div>
            <%= report.title %>
            <br><br>
            <%= report.content %>
            <br><br>
            <%= link_to "詳細", report_path(report.id) %>
          </div>
        <% end %>
      </div>
</div>
